/*  กล่องแม่  */
.flex-container {
    display: flex;
    flex-direction: column; /*  มือถือเรียงแนวตั้ง  */
    gap: 15px;
    background: #e9edf2;
    padding: 15px;
    border-radius: 10px;
}

/*  กล่องลูก  */
.item {
    background: #0f2557;
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
}

/*  แท็บเล็ตขึ้นไป  */
@media (min-width: 768px) {
        .flex-container {
            flex-direction: row; /*  แท็บเล็ตเรียงแนวนอน  */
            flex-wrap: wrap; /*  อนุญาติให้ตัดบรรทัด  */
        }

        .item {
            flex: 1 1 45%; /*  2 กล่องต่อแถว  */
        }
    }

/*  computer+  */
@media (min-width: 1024px) {
        .flex-container {
            flex-wrap: nowrap; /*  ไม่ตัดบรรทัด  */
        }

        .item {
            flex: 1; /*  เท่ากันทุกกล่อง  */
        }
    }