/*  Phone  */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    background: #e9edf2;
    padding: 5px;
    border-radius: 10px;
}

/*  กล่องเนื้อหา  */
.item {
    background: #0f2557;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
}

/*  Tablet+  */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*  computer+  */
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: 0 auto; /* จัดกึ่งกลางหน้า */
    }
}