/*  Phone  */
p {
    font-size: 14px;
    line-height: 1.6;
}

/*  Tablet+  */
@media (min-width: 768px) {
    p {
        font-size: 16px;
    }
}

/*  computer+  */
@media (min-width: 1024px) {
    p {
        font-size: 18px;
    }
}